<a href="https://colab.research.google.com/github/Aditya9838/Aditya9838/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Series in pandas

In [ ]:
s=pd.Series([10,20,30,40])

In [ ]:
print(s)

0    10
1    20
2    30
3    40
dtype: int64

2.with index

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s=pd.Series([10,20,30,40],index=["a","b","c","d"])

In [ ]:
print(s)

a    10
b    20
c    30
d    40
dtype: int64

3.series from dictionary

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data={"Math":90,"Physics":85,"Chemistry":88}

In [ ]:
marks=pd.Series(data)

In [ ]:
print(data)

{'Math': 90, 'Physics': 85, 'Chemistry': 88}

In [ ]:
print(marks)

Math         90
Physics      85
Chemistry    88
dtype: int64

4.dataframe in pandas

In [ ]:
import  pandas as pd
import numpy as np

In [ ]:
data={
    "Name":["Aman","krish","Karan"],
    "Age":[22,23,21],
    "Marks":[85,90,88]
}

In [ ]:
print(data)

{'Name': ['Aman', 'krish', 'Karan'], 'Age': [22, 23, 21], 'Marks': [85, 90, 88]}

In [ ]:
type(data)

dict

In [ ]:
marks=pd.DataFrame(data)

In [ ]:
print(marks)

    Name  Age  Marks
0   Aman   22     85
1  krish   23     90
2  Karan   21     88

In [ ]:
marks=pd.DataFrame(
    data,
    index=["Student1","Student2","Student3"]
)

In [ ]:
print(marks)

           Name  Age  Marks
Student1   Aman   22     85
Student2  krish   23     90
Student3  Karan   21     88

In [ ]:
marks.set_index("Name",inplace=True) #if we are setting inplace=true it means we are changing orignal object itself

In [ ]:
print(marks)

       Age  Marks
Name
Aman    22     85
krish   23     90
Karan   21     88

In [ ]:
df=pd.DataFrame({
    "Name":["Aman","saurabh","Karan"],
    "Age":[22,23,21],
    "Marks":[85,90,88]
})

In [ ]:
print(df)

      Name  Age  Marks
0     Aman   22     85
1  saurabh   23     90
2    Karan   21     88

In [ ]:
df.head()  #as the no of rows are less than 5 so the output of both df head if more than 5 than first 5 will be printed

      Name  Age  Marks
0     Aman   22     85
1  saurabh   23     90
2    Karan   21     88

In [ ]:
df.tail()   #less than 5 so all otherwise last 5 is printed

      Name  Age  Marks
0     Aman   22     85
1  saurabh   23     90
2    Karan   21     88

In [ ]:
df=pd.DataFrame({"Name":["Aman","Saurav","Karan","Dinesh","Raj","abhishek"],
                 "Age":[22,23,43,78,21,24],
                 "Marks":[84,85,88,100,90,92]})

In [ ]:
df.head(4)

     Name  Age  Marks
0    Aman   22     84
1  Saurav   23     85
2   Karan   43     88
3  Dinesh   78    100

In [ ]:
df.tail(4)

       Name  Age  Marks
2     Karan   43     88
3    Dinesh   78    100
4       Raj   21     90
5  abhishek   24     92

In [ ]:
df.shape

(6, 3)

In [ ]:
df.columns

Index(['Name', 'Age', 'Marks'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Marks   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [ ]:
df.describe()      #all data info mean median percent 50% 25%

             Age       Marks
count   6.000000    6.000000
mean   35.166667   89.833333
std    22.551423    5.810909
min    21.000000   84.000000
25%    22.250000   85.750000
50%    23.500000   89.000000
75%    38.250000   91.500000
max    78.000000  100.000000

Selecting the data

In [ ]:
df["Name"]

0        Aman
1      Saurav
2       Karan
3      Dinesh
4         Raj
5    abhishek
Name: Name, dtype: object

In [ ]:
df[["Name","Marks"]]

       Name  Marks
0      Aman     84
1    Saurav     85
2     Karan     88
3    Dinesh    100
4       Raj     90
5  abhishek     92

Filtering in Pandas

In [ ]:
df[df["Marks"]>85]    #outer df saying we want whole data

       Name  Age  Marks
2     Karan   43     88
3    Dinesh   78    100
4       Raj   21     90
5  abhishek   24     92

In [ ]:
df[(df["Age"]>21)&(df["Marks"]>85)]

       Name  Age  Marks
2     Karan   43     88
3    Dinesh   78    100
5  abhishek   24     92

Sorting + Value Count

In [ ]:
df.sort_values("Marks")

       Name  Age  Marks
0      Aman   22     84
1    Saurav   23     85
2     Karan   43     88
4       Raj   21     90
5  abhishek   24     92
3    Dinesh   78    100

In [ ]:
df["Age"].value_counts()

Age
22    1
23    1
43    1
78    1
21    1
24    1
Name: count, dtype: int64

handling missing value

In [ ]:
df=pd.DataFrame({"Name":["Aman","saurav","Karan","shubham",None,"sameer"],"Age":[22,23,None,22,25,26],"marks":[85,None,88,90,56,None]})
df

      Name   Age  marks
0     Aman  22.0   85.0
1   saurav  23.0    NaN
2    Karan   NaN   88.0
3  shubham  22.0   90.0
4     None  25.0   56.0
5   sameer  26.0    NaN

In [ ]:
df.isnull()   #checking the missing value

    Name    Age  marks
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
4   True  False  False
5  False  False   True

In [ ]:
df.isnull().sum()    #count the nissing value

Name     1
Age      1
marks    2
dtype: int64

In [ ]:
df.dropna()

      Name   Age  marks
0     Aman  22.0   85.0
3  shubham  22.0   90.0

In [ ]:
print(df)

      Name   Age  marks
0     Aman  22.0   85.0
1   saurav  23.0    NaN
2    Karan   NaN   88.0
3  shubham  22.0   90.0
4     None  25.0   56.0
5   sameer  26.0    NaN

excercise1:

In [ ]:
df=pd.DataFrame({"Name":["aman","saurav","Karan","shubhum","abhishek",None,"Sameer"],
                 "Age":[22,23,None,22,25,24,26],
                 "Marks":[85,None,88,90,56,72,None],
                 "Subject":["Math","Physics","Math","Chemistry","Math","Physics","Chemistry"]})
df

       Name   Age  Marks    Subject
0      aman  22.0   85.0       Math
1    saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   shubhum  22.0   90.0  Chemistry
4  abhishek  25.0   56.0       Math
5      None  24.0   72.0    Physics
6    Sameer  26.0    NaN  Chemistry

In [ ]:
df.shape

(7, 4)

In [ ]:
df.dtypes

Name        object
Age        float64
Marks      float64
Subject     object
dtype: object

In [ ]:
df.describe()

             Age      Marks
count   6.000000   5.000000
mean   23.666667  78.200000
std     1.632993  14.254824
min    22.000000  56.000000
25%    22.250000  72.000000
50%    23.500000  85.000000
75%    24.750000  88.000000
max    26.000000  90.000000

selecting: view for name and marks

In [ ]:
df[["Name","Marks"]]

       Name  Marks
0      aman   85.0
1    saurav    NaN
2     Karan   88.0
3   shubhum   90.0
4  abhishek   56.0
5      None   72.0
6    Sameer    NaN

scored >80

In [ ]:
df[df["Marks"]>80]

      Name   Age  Marks    Subject
0     aman  22.0   85.0       Math
2    Karan   NaN   88.0       Math
3  shubhum  22.0   90.0  Chemistry

age>22 And marks>80

In [ ]:
df[df["Age"]>22&(df["Marks"]>80)]

       Name   Age  Marks    Subject
0      aman  22.0   85.0       Math
1    saurav  23.0    NaN    Physics
3   shubhum  22.0   90.0  Chemistry
4  abhishek  25.0   56.0       Math
5      None  24.0   72.0    Physics
6    Sameer  26.0    NaN  Chemistry

count how muc stud enrolled in sub

In [ ]:
df["Subject"].value_counts()

Subject
Math         3
Physics      2
Chemistry    2
Name: count, dtype: int64

sort by marks in decanding

In [ ]:
df.sort_values(["Marks"], ascending=False)

       Name   Age  Marks    Subject
3   shubhum  22.0   90.0  Chemistry
2     Karan   NaN   88.0       Math
0      aman  22.0   85.0       Math
5      None  24.0   72.0    Physics
4  abhishek  25.0   56.0       Math
1    saurav  23.0    NaN    Physics
6    Sameer  26.0    NaN  Chemistry

find top 2 heighest marks without sorting whole dataframe

In [ ]:
df.nlargest(2,"Marks")

      Name   Age  Marks    Subject
3  shubhum  22.0   90.0  Chemistry
2    Karan   NaN   88.0       Math

In [ ]:
df.nsmallest(1,"Marks")

       Name   Age  Marks Subject
4  abhishek  25.0   56.0    Math

calcu total no. of missing values in each column

In [ ]:
df.isnull().sum()

Name       1
Age        1
Marks      2
Subject    0
dtype: int64

marks are missing

1.why uses float istead of integer?